.maincontanier{
    background-color: #F9F9F9;
    
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #FFFF;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #2563eb;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
